body, .restart{
  font: 18px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
.html, body, .htmlbody {
  height:100%;
}

body {
  padding-bottom: 100px;
}

button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  font: 16px "Century Gothic", Futura, sans-serif;

}

button:hover{
  /* opacity:0.8; */
  background-color: #3b8c3f;
  cursor: pointer; 
}

button:focus{
  border:2px solid white;
}



* {
  box-sizing: border-box;
}

.ThreadBox {
  padding: 10px;
  margin-top: -2px;
  border: 2px solid #000000;
}


.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100%;
}
.col1 {
  float: left;
  width: 62%;
  padding: 10px;
  height: 100%;
}
.col2 {
  float: left;
  width: 38%;
  padding: 10px;
  height: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  height:100%;
}

textarea {
  width: calc(100% - 20px); 
  /* width:100%; */
  min-height:200px;
  height: fit-content;
  resize:vertical;
  padding: 10px;
  margin: 10px;
  margin-top: 8px;
  margin-bottom: 6px;
  font: 18px "Century Gothic", Futura, sans-serif;
}

.initThread {
  height:239px;
}

.center {
  margin: auto;
}

ol, ul {
  padding-left: 30px;
}



footer {
  /* background-color:  rgb(255, 132, 0); */
  background-color: #9fd8fc;
  /* background-color: #869dfc; */

  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  margin-top: 150px;
  padding-bottom: 60px;
  padding-top:15px;
  overflow: hidden;
}


.social {
  font-size: 18px;
  color: #a2a8ae;
}

.social a {
  color: black;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}

.social a:hover {
  opacity: 1;
}