body, .restart{
  font: 18px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
.html, body, .htmlbody {
  height:100%;
}

body {
  padding-bottom: 50px;
}

button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  font: 16px "Century Gothic", Futura, sans-serif;

}

* {
  box-sizing: border-box;
}

.ThreadBox {
  padding: 10px;
  margin-top: -2px;
  border: 2px solid #000000;
}


.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  height:100%;
}

textarea {
  width: 100%; 
  min-height:200px;
  height: fit-content;
  resize:vertical;
  font: 18px "Century Gothic", Futura, sans-serif;
}

.initThread {
  height:232px;
}

.center {
  margin: auto;
}

ol, ul {
  padding-left: 30px;
}



footer {
  background-color:  rgb(255, 132, 0);
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  margin-top: 150px;
  padding-bottom: 60px;
  overflow: hidden;
}
